@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root {
  --very-dark-blue: hsl(243, 87%, 12%);
  --desturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
 font-size: 16px;
 height: 100vh;
}

h1,
h2,
h3 {
  color: var(--very-dark-blue);
}

p {
  line-height: 1.5;
}

ul,
li {
  list-style: none;
}

header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1.5rem;
  
}

header img {
  width: 100px;
}

ul {
  display: flex;

}

header li {
  margin: 0 5px;
  color: var(--desturated-blue);
  cursor: pointer;

  
}

header li:hover {
  color: var(--very-dark-blue);
}

.header-logo:hover {
  transform: rotate(720deg);
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}

.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding: 0 1.5rem;
}

.hero-desc {
  margin-top: 30px;
  text-align: center;
}

.hero-desc h1 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
}

.hero-desc p {
  color: var(--desturated-blue);
  font-weight: bold;
  margin: 20px 0;
}

.hero img {
  width: 100%;
}

input {
  width: 100%;
  padding: 20px 10px;
  border: 1px solid var(--desturated-blue);
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn {
  border: none;
  outline: none;
  background-color: var(--bright-blue);
  width: 100%;
  padding: 20px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.btn:hover {
  opacity: 0.8;
}

.productive::before {
  content: '';
  background-image: url(/images/bg-curve-mobile.svg);
  position: absolute;
  background-size: cover;
  background-position: center center;
  top: -60px;
    left: 0;
    height: 80px;
  width: 100%;
}

.productive {
  margin-top: 100px;
  background-color: var(--light-grayish-blue);
  position: relative;
  
}

.productive-details {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  
}

.illustration2 img {
  width: 100%;
}

.productive-desc {
  margin-top: 80px;
  text-align: center;
  
}

.productive-desc h3 {
  margin-bottom: 20px;
}

.productive-desc p {
  color: var(--desturated-blue);
}

.productive-text {
  margin: 20px 0;
}

.productive-link {
  margin-top: 40px;
}

.productive a {
  color: var(--moderate-cyan);
}

.productive-link span img {
  text-align: center;
}



.testimonial {
  margin: auto;
  margin: 40px 0 80px;
  background-color: #fff;
  border-radius: 10px;
  text-align: left;
  padding: 30px;
  max-width: 500px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.testimonial:hover {
  cursor: pointer;
  transform: translateY(-40px);
}

.testimonial img {
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.testimonial-profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  
}

.testimonal-title {
  font-size: 12px;
  font-weight: bold;
}

.access {
  background-color: var(--desturated-blue); 
}

.access-container {
  padding: 6rem 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.access-container h3 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.access-container p {
  font-size: 1.1rem;
  margin-bottom: 30px;
}

footer {
  background-color: var(--very-dark-blue);
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 3rem;
  color: #ffff;
}

.footer-logo {
  margin-bottom: 20px;
}

.footer-logo:hover {
  transform: rotate(720deg);
  transition: cubic-bezier(0.65, 0.05, 0.36, 1) 1s;
}

.flex li img {
  margin-right: 20px;
}

footer li {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 400;
}

footer li:hover {
  color: var(--light-gray);
}

footer .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  margin-bottom: 60px;
}

footer .social-icons a {
  margin-left: 20px;
  color: #ffff;
  border-radius: 50%;
  border: 1px solid #fff;
  padding: 5px 10px;
}










@media (min-width: 768px) {
  header {
    padding: 2rem 3rem;
  }

header li {
  font-size: 1.4rem;

}
  .hero {
    flex-direction: row;
    padding: 0 3rem;
  }

  .hero-desc {
    text-align: left;
  }

  input {
    width: 350px;
  }

  .btn {
    width: 180px;
  }

  .productive::before {
    background-image: url(/images/bg-curve-desktop.svg);
    height: 60px;
  }

  .productive-desc {
    text-align: left;
    padding: 0 3rem;
  }

  .productive-details {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }
  .productive-desc h3 {
    font-size: 2rem;
  }
  .illustration2 {
    width: 100%;
  }
  .access-container {
    flex-direction: row;
   padding: 6rem 3rem;
    text-align: left;
  }

  .access-container div:first-child {
    margin-right: 40px;
  }

  .access-container div:last-child {
    width: 100%;
  }

  input[type=email] {
    width: 100%;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
}



@media (min-width: 1024px) {
  header img {
    width: auto;
  }

  header li {
    margin: 0 15px;
  }
  .hero-desc h1 {
    font-size: 2rem;
  }

  .hero-desc p {
    font-size: 1.2rem;
    
  }

li {
  margin: 0 30px;
}

}